@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    background-color: #01504d;
    display: inline-block;
    padding: 25px;
}

.home-icon img {
    width: 30px;
    height: 30px;
}

.social-icons {
    margin-top: 650px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
}

.content{
    margin-left: 80px;
    width: calc(100% - 80px);
    background-color: #fff;
    padding: 50px 70px 50px 90px;
    height: 100vh;
}

header {
    background-color: #fff;
    margin-bottom: 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.navbar a:hover {
    color: #1ba974;
}

.number-wsp {
    display: flex;
    align-items: center;
}

.number-wsp img {
    width: 25px;
    height: 25px;
    margin-right: 9px;
}

.number-wsp a {
    color: #1ba974;
    text-decoration: none;
}

main {
    border: 2px solid #1ba974;
    height: 90%;
}